<div>
  <h1 class="font-bold text-4xl">Projects</h1>
</div>
<!--
  UI Design Prototype
  Link : https://dribbble.com/shots/10452538-React-UI-Components
-->
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
      <div class="max-w-md mx-auto">
        <div class="flex items-center space-x-5">
          <div class="h-14 w-14 bg-yellow-200 rounded-full flex flex-shrink-0 justify-center items-center text-yellow-500 text-2xl font-mono">i</div>
          <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
            <h2 class="leading-relaxed">Create a Project</h2>
          </div>
        </div>
        <div class="divide-y divide-gray-200">
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
            <%= simple_form_for (@project) do |f| %>
              <%= f.error_notification %>
              <div class="flex flex-col">
                <%= f.input :name , autofocus: true, :input_html => { :class => 'px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600' } , placeholder:"Event title"%>
              </div>
              <div class="flex flex-col">
                <%= f.input :title , :input_html =>{:class=>"px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"}, placeholder:"Event title"%>
              </div>
              <div class="flex items-center space-x-4">
                <div class="flex flex-col">
                  <div class="relative focus-within:text-gray-600 text-gray-400">
                    <%= f.input :start ,:input_html=>{:class=>"pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" },placeholder:"25/02/2020"%>
                  </div>
                </div>
                <div class="flex flex-col">
                  <div class="relative focus-within:text-gray-600 text-gray-400">
                    <%=f.input :end, :input_html=>{:class=>"pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"}, placeholder:"26/02/2020"%>
                  </div>
                </div>
              </div>
              <div class="mb-2" ,="" "overflow-y="" :scroll"="" style="
                    overflow-y: scroll;
                      height: 100px">
                <%= collection_check_boxes(:project, :user_ids, User.all, :id, :email) do |b|
                        b.label(:"data-value" => b.value) { b.check_box(checked: true) + b.text }
                end%>
              </div>
              <div class="pt-4 flex items-center space-x-4">
                <%= link_to 'cancel', root_path, class:"bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none"%>
                <%= f.button :submit ,class:"bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
